@charset "utf-8";
/*------------------------------------------------------------
	color setting
------------------------------------------------------------*/

/*** Header Color Setting 
---------------------------------***/

$pirmaryBgColor: #09357B;
$secondaryBgColor: #0D47A1;

$titleTxtColor: rgba(0, 0, 0, 0.87);

$borderRed: #D32F2F;
$borderGreen: #388E3C;
$borderBlue: #2196F3;
$borderYellow: #FFC107;


$whiteColor: #fff;
$blackColor: #000;


